
<html ng-app="web8">
    <head>
<title>Gestion de facture</title>
<link rel="stylesheet" href="style2.css">
    </head>
    <body>
        <div ng-controller="facture">

            <div class="list">
                <h1>La liste des facture </h1>
                <input type="text"  placeholder="search..." ng-model="search"> 
                <br>
                <br>
                <br>
            </div>
            <div class="t">
                <table border="4" cellspacing="0" width="100%"  >
                    <tr class="fi"  >
                        <td>Numero</td>
                        <td>Date</td>
                        <td>type de payment</td>
                        <td> Date d expiration </td>
                        <td>Sous-total</td>
                        <td>forfait </td>
                        <td>tva</td>
                        <td>total</td>
                       
                        <td>Actions</td>
                    </tr>
                    <tr ng-repeat="s in Contrat | filter:search">
                        <td>{{s.numero_fac}}</td>
                        <td>{{s.date_fac}}</td>
                        <td>{{s.option}}</td>
                        <td>{{s.date_ex}}</td>
                        <td>{{(s.distence * 100)/100}}</td>
                        <td>{{5}}</td>
                        <td>{{((s.distence * 100)/100)*0.20}}</td>
                        <td>{{((s.distence * 100)/100)+5+((s.distence * 100)/100)*0.20 }}</td>
                        
                     
                        
                        
                        <td>
                        <button ng-click="deleteData(s)">Supprimer</button>
                        </td>
                    </tr>
                </table>
            </div>
            
            </div>
            </body>
            </html>
